body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

#title {
  color: white;
  width: 11rem;
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.player {
  display: flex;
  justify-content: center;
  color: white;
}

.search_song {
  width: 55rem;
  height: 2rem;
}

.search-form {
  display: flex;
  justify-content: center;
}

section.results {
  margin-left: 9rem;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

hr {
  background-color: gray;
  height: 1px;
  border: 0;
  margin-top: 75px;
  width: 115rem;
}

h3 {
  color: white;
  width: 11rem;
    display: flex;
    justify-content: center;
  }

.searchtitle {
  color: white;
font-size: 20px;
    margin-left: 46px;
}
.search_button {
  width: 90px;
}


.wrapper {
  background-color: transparent;
  width: 270px;
  margin-bottom: 10px;
}

img {
  width: 10rem;
  height: 9rem;
border-radius: 10%;
}
